<div class="container">
  <header class="jumbotron">
      <h1>Task Management Project</h1>
      <p>Backend Framework: .NET 7</p>
      <p>Architecture: Clean Architecture</p>
      <p>CQRS (Command Query Responsibility Segregation): Implemented to separate command and query responsibilities</p>
      <p>Database Access: Utilizing Entity Framework Core (for ORM) and Dapper (for microservices or specific scenarios)</p>
      <p>Repository Pattern: Implemented to provide a standard approach to data access</p>
      <p>Frontend Framework: Angular</p>
  </header>
</div>
